<ul class="navbar">
    <li [routerLink]="['/members']" routerLinkActive="router-link-active">
        Accueil
    </li>
    <li [routerLink]="['/members']" routerLinkActive="router-link-active">
        Discord
    </li>
    <li [routerLink]="['/register']" routerLinkActive="active" >
        Supports
    </li>
    <li [routerLink]="['/members']" routerLinkActive="router-link-active" >
        Equipes
    </li>
    <li [routerLink]="['/pokemons']" routerLinkActive="router-link-active" >
        Pokemon
    </li>
</ul>
